{% if not button.attributes.name %}
    <a class="btn btn-{{ button.size }} btn-{{ button.type }} {{ button.disabled ? 'disabled' }} {{ button.class }}"
            {{ button.disabled ? 'disabled' }}
            {{ html_attributes(button.attributes) }}
        title="{{ button.title }}"
    {{ button.tooltip }}
   >
        {#{{ button.icon ? icon(button.icon)|raw }}#}
        {% if button.icon %}
            <span class="{{ button.icon }}"></span>
        {% endif %}

        {% if not button.iconOnly %}
            {{ button.text|raw }}
        {% endif %}
    </a>
{% endif %}

{# Render normal buttons as a button #}
{% if button.attributes.name %}
    <button class="btn btn-{{ button.size }} btn-{{ button.type }} {{ button.disabled ? 'disabled' }} {{ button.class }}" {{ button.disabled ? 'disabled' }} {{ html_attributes(button.attributes) }}>
        {#{{ button.icon ? icon(button.icon)|raw }}#}
        {{ button.text|raw }}
    </button>
{% endif %}