{% extends "port::layouts.default" %}

{% block pageheader %}
    <section class="content-header"
             style="background-color: #e5e5e5;
             display: block;
             height: 70px;
             padding: 10px;">
        <h1 style="font-size: 1.10em;
        position: absolute;
        top: 18px;
        color: #918f83;">

            {% if page.icon %}
                <i class="fa fa-{{ page.icon }}"></i>
            {% endif %}
            {{ page.title }}
            <small>{{ page.subtitle }}</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"> Packages</a></li>
            <li class="active">Edit Package Details</li>
        </ol>
        <div class="pull-right" style="position: absolute;
            right: 10px;
            top: 10px; padding:5px;">
            {% for button in page.buttons %}
                {{ button.render({size: 'lg'})|raw }}
            {% endfor %}
        </div>

    </section>
{% endblock %}


{% block content %}
    {% set tabs = page.tabs() %}
    {% if tabs %}
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" id="pageTabs">
                    {% for tab in tabs %}
                        <li>
                            <a href="{{ url(tab.url) }}" data-target="#{{ tab.tab }}"
                               data-toggle="tab">{{ tab.title }}</a>
                        </li>
                    {% endfor %}

                    <li class="pull-right" id="tabButtons"></li>
                </ul>
                <div class="tab-content">
                    {% for tab in tabs %}"
                        <div class="tab-pane" id="{{ tab.tab }}" style="min-height: 300px;"></div>
                    {% endfor %}
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
    {% else %}
        <div class="col-md-12">
            {{ page.content() |raw }}
        </div>

    {% endif %}
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script>
        $(function () {
            $('[data-toggle="tab"]').on('click', function () {
                var $this = $(this),
                    source = $this.attr('href'),
                    pane = $this.attr('data-target');

                if ($(pane).is(':empty')) {  // check if pane is empty, if so get data
                    $.get(source, function (data) {
                        $(pane).html(data);
                    });

                    $(this).tab('show');
                    return false;
                }
            });

            $('#pageTabs:nth-child(1)').find('a').click();
        });
    </script>
{% endblock %}
